{% extends "base.html" %}
{% block title %}Reset Password{% endblock %}
{% block content %}
<div class="row justify-content-center mt-5">
  <div class="col-sm-8 col-md-5 col-lg-4">
    <div class="card p-4">
      <h4 class="mb-4 text-center"><i class="bi bi-lock text-primary"></i> Set New Password</h4>
      <form method="POST">
        <div class="mb-3">
          <label class="form-label">New password</label>
          <input type="password" name="password" class="form-control" required autofocus minlength="6">
        </div>
        <div class="mb-4">
          <label class="form-label">Confirm new password</label>
          <input type="password" name="confirm" class="form-control" required minlength="6">
        </div>
        <button class="btn btn-primary w-100">Update Password</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
